@model CourseViewModel

@{
    ViewData["Title"] = Model.Name;
}
<div class="container">

    <div class="section">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header">
                    <h2>
                        @ViewData["Title"]
                        <a class="btn btn-warning btn-sm"
                           asp-area="Administration"
                           asp-controller="Courses"
                           asp-action="Edit"
                           asp-route-id="@Model.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                    </h2>
                    <p>@Model.Description</p>
                </div>

                <ul class="nav nav-tabs d-flex flex-column flex-md-row text-center mb-4 col-12">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#exams"><i class="fas fa-file"></i> Exams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#users"><i class="fas fa-user-circle"></i> Users</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="input-group form-group flex-grow-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="search" flex-grow-1 mr-2" name="keyword" placeholder="Enter keyword...">
                    </div>
                    <div class="tab-pane fade show active" id="exams">
                        <a class="btn btn-success"
                           asp-area="Administration"
                           asp-controller="Exams"
                           asp-action="Create">
                            <i class="fas fa-plus"></i>
                            Create
                        </a>
                        <br /><br />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Questions Count</th>
                                    <th scope="col">Questions Order</th>
                                    <th scope="col">Choices Order</th>
                                    <th scope="col">Creator</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exam in Model.Exams)
                                {
                                    <tr class="table-light searchItem">
                                        <th scope="row">@exam.Name</th>
                                        <td>@exam.QuestionsCount</td>
                                        <td>@exam.QuestionsOrder</td>
                                        <td>@exam.ChoicesOrder</td>
                                        <td>
                                            @(exam.Creator.FirstName+" "
                                            +exam.Creator.LastName)
                                        </td>
                                        <td>
                                            <a class="btn btn-info"
                                               asp-area="Administration"
                                               asp-controller="Exams"
                                               asp-action="Details"
                                               asp-route-id="@exam.Id">
                                                <i class="fas fa-info"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="users">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr class="table-light searchItem">
                                        <th scope="row">@user.Email</th>
                                        <td>@(user.FirstName+" "+user.MiddleName+" "+user.LastName)</td>
                                        <td>
                                            <a class="btn btn-danger"
                                               asp-action="RemoveUser" ,
                                               asp-controller="Courses"
                                               asp-area="Administration"
                                               asp-route-courseId="@Model.Id"
                                               asp-route-userId="@user.Id">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts{
    <script src="~/js/search.js"></script>
 }