@model ICollection<ExamViewModel>

@{
    ViewData["Title"] = "My exams";
    var j = 1;
}

<div class="container">

    <div class="section">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header">
                    <h2>@ViewData["Title"]</h2>
                    <br />
                </div>
                <form method="get" class="form-inline mb-3" asp-area="" asp-controller="Results" asp-action="Index">
                    <div class="input-group form-group flex-grow-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control flex-grow-1 mr-2" name="keyword" placeholder="Enter exam name...">
                    </div>
                    <button type="submit" class="btn btn-primary mt-0 mt-md-3 mt-lg-0">Search</button>
                </form>
                <div class="component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Exam Name</th>
                                <th scope="col">Date</th>
                                <th scope="col">Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                @foreach (var exam in Model)
                                {
                                    <tr class="table-light">
                                        <td>@j</td>
                                        <td>@exam.Name</td>
                                        <td>@exam.CreatedOn.ToString("MM.dd.yyyy")</td>
                                        <td>@exam.QuestionsOrder</td>
                                    </tr>
                                    j++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align: center;">No exams</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>