@using ELearn.Common
@using ELearn.Data.Models
@using ELearn.Web.ViewModels.Home
@using Microsoft.AspNetCore.Identity

@model HomePageViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = "Home Page";
    var i = 1;
    var j = 1;
    var k = 1;
}
@if (!this.SignInManager.IsSignedIn(this.User))
{
    <div class="page-hero bg-primary text-white" id="banner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8  offset-lg-2 text-center">
                    <div class="title">
                        <h1 class="display-2 text-white">ELearn</h1>
                        <h4 class="text-white">You must be logged in to use the system.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-1">
                <div class="mb-5">
                    <h2><i class="far fa-list-alt"></i> Last Exams</h2>
                    <p>The last 10 exams from courses you have joined</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Name</th>
                                <th scope="col">Creator</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var exam in Model.LastExams)
                            {
                                <tr style="cursor: pointer;">
                                    <td>@j</td>
                                    <td>@exam.Name</td>
                                    <td>@exam.Creator.FirstName @exam.Creator.LastName</td>
                                </tr>

                                j++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-4 offset-md-1">
                <div class="mb-5">
                    <h2><i class="fas fa-poll"></i> Last Results</h2>
                    <p>Your last 10 results</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Exam Name</th>
                                <th scope="col">Result</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var result in Model.LastResults)
                            {
                            <tr>
                                <td>@i</td>
                                <td>@result.Exam.Name</td>
                                <td>@result.Points%</td>
                                <td>@result.CreatedOn.ToString("dd.MM.yyyy")</td>
                            </tr>

                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <div class="mb-5">
                    <h2><i class="fas fa-chalkboard-teacher"></i> Last Courses</h2>
                    <p>The last 10 courses</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Name</th>
                                <th scope="col">Participants</th>
                                <th scope="col">Exams</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model.LastCourses)
                            {
                                <tr>
                                    <td>@k</td>
                                    <td>@course.Name</td>
                                    <td>@course.Users.Count</td>
                                    <td>@course.Exams.Count</td>
                                    <td>
                                        @if (course.Users.Contains(ViewData["CurrentUser"]))
                                        {
                                            <a asp-area=""
                                               asp-controller="Courses"
                                               asp-action="Details"
                                               asp-route-id="@course.Id"
                                               class="btn btn-primary">Details</a>

                                            <a asp-area=""
                                               asp-controller="Courses"
                                               asp-action="Exit"
                                               asp-route-id="@course.Id"
                                               class="btn btn-dark">Exit</a>
                                        }
                                        else
                                        {
                                            <a asp-area=""
                                               asp-controller="Courses"
                                               asp-action="Join"
                                               asp-route-id="@course.Id"
                                               class="btn btn-primary">Join</a>
                                        }
                                    </td>
                                </tr>

                                k++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
}

